body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);


}
.game-card img {
  height: 200px;
  object-fit: cover;
}

.game-card {
  transition: transform 0.3s ease;
   height: 100%;
}

.game-card:hover {
  transform: translateY(-5px);
}

.lead {
    font-size: 44px;
}