body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(97, 0, 97);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: violet;
}

input {
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid purple;
    margin-top: 20px;
    text-align: center;
    outline: none;
}

.ball-container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.answer {
    font-size: 20px;
    margin-top: 20px;
    min-height: 30px;
}